---
import type { PartsType } from '@content/config';
import { useTranslation } from '@i18n/useTranslation';
import type { LocaleCode } from '@i18n/utils';
import { IconSrc } from '@utils/icon';

interface Props {
  data?: PartsType['parameter']['partDataList'];
  locale: LocaleCode;
}

const { data, locale } = Astro.props;
if (!data) return;

const parts = data.filter(({ damageData }) =>
  Object.values(damageData[0].physical).reduce((sum, curr) => sum + curr, 0)
);

const t = useTranslation(locale);
---

<table class="w-full">
  <thead>
    <tr>
      <td class="pr-3 uppercase text-xs text-gray-500" align="left">Part</td>
      <td class="px-2 uppercase text-xs text-gray-500" align="right">Sever</td>
      <td class="px-2 uppercase text-xs text-gray-500" align="right">Blunt</td>
      <td class="px-2 uppercase text-xs text-gray-500" align="right">Ammo</td>
      <td class="mx-2 uppercase text-xs text-gray-500" align="center">
        <img src={IconSrc.ELEMENT('FIRE')} class="w-[15px]" />
      </td>
      <td class="mx-2 uppercase text-xs text-gray-500" align="center">
        <img src={IconSrc.ELEMENT('WATER')} class="w-[15px]" />
      </td>
      <td class="mx-2 uppercase text-xs text-gray-500" align="center">
        <img src={IconSrc.ELEMENT('THUNDER')} class="w-[15px]" />
      </td>
      <td class="mx-2 uppercase text-xs text-gray-500" align="center">
        <img src={IconSrc.ELEMENT('ICE')} class="w-[15px]" />
      </td>
      <td class="mx-2 uppercase text-xs text-gray-500" align="center">
        <img src={IconSrc.ELEMENT('DRAGON')} class="w-[15px]" />
      </td>
    </tr>
  </thead>
  <tbody>
    {
      parts.map((obj) => {
        return (
          <tr>
            <td class="pr-3 text-xs md:text-sm" align="left">
              {t(['EnemyPart', obj.localizeKey]) || obj.partKey}
            </td>
            <td class="px-2 text-xs md:text-sm" align="right">
              {obj.damageData[0].physical.cut}
            </td>
            <td class="px-2 text-xs md:text-sm" align="right">
              {obj.damageData[0].physical.blunt}
            </td>
            <td class="px-2 text-xs md:text-sm" align="right">
              {obj.damageData[0].physical.ammo}
            </td>
            <td class="px-2 text-xs md:text-sm" align="center">
              {obj.damageData[0].elemental.fire}
            </td>
            <td class="px-2 text-xs md:text-sm" align="center">
              {obj.damageData[0].elemental.water}
            </td>
            <td class="px-2 text-xs md:text-sm" align="center">
              {obj.damageData[0].elemental.thunder}
            </td>
            <td class="px-2 text-xs md:text-sm" align="center">
              {obj.damageData[0].elemental.ice}
            </td>
            <td class="px-2 text-xs md:text-sm" align="center">
              {obj.damageData[0].elemental.dragon}
            </td>
          </tr>
        );
      })
    }
  </tbody>
</table>
